<div class="jambotron">
    <div class="container max-width">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2>Bug reporting questionnaire</h2>
                <form (submit)="onCalc()" #formVal="ngForm">
                    <app-questions-list 
                    *ngIf="questions" 
                    [questions]="questions" 
                    [formVal]="formVal" 
                    (answerToSubmit)="onEmitAnswer($event)"
                     reqiured>
                    </app-questions-list>
                <button [disabled]="!isFormCompleted">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>