<nav>
    <div class="nav-container max-width">
        <div class="logo-container">
            <h1 class="logo">Generic<span>App</span></h1>
            <span class="logo-span">By Uri Gross</span>
        </div>
            
        <ul [ngClass]="mobileMenuOn?'active':''">
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="onCloseMenu()">Generic<span>App</span></a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" (click)="onCloseMenu()">About</a>
            </li>
        </ul>
        <div class="menu-btn">
            <fa-icon [icon]="faTimes" *ngIf="mobileMenuOn; else closeMenuBtn" (click)="onCloseMenu()"></fa-icon>
            <ng-template #closeMenuBtn>
                <fa-icon [icon]="faBars" (click)="onOpenMenu()"></fa-icon>
            </ng-template>
        </div>
    </div>
    <div class="progress-bar-container">
        <label for="progress-bar">Form Progress</label>
        <mat-progress-bar mode="determinate" value="{{progressBarScore}}"></mat-progress-bar>
        <label for="form-score">Score: </label>
        <pre>{{formScore}}</pre>
    </div>
</nav>