.filter-done-answers-h2 {
    margin: 10px;
  }
  
  .filter-section {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
  }
  
  .filter-done-answers-margin {
    margin: 10px;
  }
  